@using Sitecore.Globalization
@model BeachResort.Models.FeaturedRoom



<div class="roomsHero">
    <div class="banner">
        <h1>@Model.Name</h1>
    <div>
    </div>
        <a href='/rooms' class="btn-primary">Back to Rooms</a>
    </div>
</div>
<section class="single-room">
    <div class="single-room-images">

        @foreach (var image in Model.OtherImages)
        {
           @image
        }
    </div>
    <div class ="single-room-info">
        <article class="desc">
            <h3>Details</h3>
            <p>@Model.Desc</p>
        </article>
        <article class="info">
            <h3>Info:</h3>
            <h6>price: $@Model.Price</h6>
            <h6>Size: @Model.Size SQFT</h6>
        </article>
    </div>
</section>
<section class="room-extras">
    <h6>Extras:</h6>
    @Model.Extras
</section>