################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BeachResort/bin
/BeachResort/obj/Debug
