
<div>
    <div class="nav-center">
        <div class="nav-header">
            <img src="~/Resources/images/logo.svg" alt="Beach Resort"></img>
            <button type="button" class="nav-btn"></button>
        </div>
        <ul class="nav-links show-nav">
            <li>
                <a href="/Home">Home</a> 
            </li>
            <li>
                <a href="/Rooms">Rooms</a>
            </li>
        </ul>
    </div>
</div>